*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light-grey: #EEEEEE;
  --grey: #888888;
  --dark-grey: #333333;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;
  --light-black: #333333;
  --black: #000000;
  --blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation {
  background-color: var(--white);
  list-style: none;
  font-size: 14px;
  line-height: 26px;
}

.site-navigation a:hover {
  color: var(--blue);
}

.site-navigation a:focus {
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.headlines-text h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.headlines-text h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--light-black);
}

.reason {
  display: flex;
  color: var(--white);
  background-color: var(--blue);
}

.reason-img {
  width: 800px;
  height: 256px
}

.reason-text .true {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.number-w {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--white)
}

.authentic-life {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantages {
  display: flex;
  width: 1200px;
  background: var(--white);
}

.advantages-item h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: (var(--black);
  }

  .advantages-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: (var(--light-black);
    }

  }

  .socials {
    list-style: none;
  }

  .hotels-sorting-item {
    list-style: none;
  }

  .sorting-links {
    list-style: none;
  }
