/* Variables */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --lightest-grey: #EEEEEE;
  --light-grey: #F2F2F2;
  --middle-grey: #EBEBEB;
  --border-color: #E5E5E5;
  --silence: #CACACA;
  --asphalt: #A9A9A9;
  --grey: #888888;
  --dark-grey: #333333;
  --lightest-brown: #847870;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;
  --light-black: #333333;
  --black: #000000;
  --lightest-blue: #87B5D1;
  --blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;
  --background: #ffefd5;
}

/* Global */



.page-body {
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-content: start;
  background-color: var(--light-grey);
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  background-position: top center;
  background-repeat: no-repeat;
 }

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: 100%;
}

/* Main navigation */

.site-navigation {
  width: 1200px;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: space-between;
  margin: 0px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--white);
  list-style: none;
  z-index: 1;
}


.site-navigation a:hover {
  color: var(--blue);
}

.site-navigation a:focus {
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main-navigation-logo {
  position: relative;
  display: flex;
  width: 138px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  margin-top: 0px;
  z-index: 3;
}

/* Main content*/

.headlines::before {
  display: flex;
  width: 100%;
  height: 510px;
  content: "";
  background-image: url(../img/mainpicture.jpg);
  background-repeat: no-repeat;
  background-color: var(--background);
  }

.headlines {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  justify-content: center;
}

.headlines-text h2 {
  height: auto;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 16px;
}

.headlines-text h3 {
  height: auto;
  margin: 0px;
  padding-bottom: 51px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--light-black);
}

.reason {
  display: flex;
  width: 1200px;
  color: var(--white);
}

.reason-img {
  width: 800px;
  height: 256px;
  order: 2;
}

.reason-text {
  background-color: var(--blue);
  text-align: center;
  padding-top: 47px;
}

.reason-text .true {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.number-w {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}

.authentic-life {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-left: 52px;
  padding-right: 51px;
}

.advantages {
  display: flex;
  width: 1200px;
  background-color: var(--white);
  justify-content: space-around;
  padding-bottom: 82px;
  padding-top: 60px;
  text-align: center;
}


.advantages-item h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.advantages-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.bridge {
  display: flex;
  width: 1200px;
  color: var(--white);
}

.bridge-text {
  background-color: var(--blue);
  padding-top: 50px;
  text-align: center;
}

.bridge-img {
  width: 800px;
  height: 256px;
}

.bridge h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.bridge p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-left: 50px;
  padding-right: 50px;
}

.reasons {
  display: flex;
  width: 1200px;
  padding-top: 47px;
  padding-bottom: 54px;
  padding-left: auto;
  padding-right: auto;
  background-color: var(--lightest-grey);
  justify-content: space-around;
}

.reasons h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reasons-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
  text-align: center;
}

.number-b {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.searching-titles {
  display: inline-block;
  justify-content: center;
  width: 1200px;
  padding-top: 58px;
  text-align: center;
  background-color: var(--white);
}

.searching-titles h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.searching-titles p {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: var(--light-black);
}

.button-b {
  display: flex;
  margin-left: 316px;
  margin-right: 316px;
  margin-bottom: 0px;
  padding-left: 125px;
  padding-right: 124px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  line-height: 26px;
  color: var(--white);
  background-color: var(--light-brown);
}

.button-b:hover {
  background-color: var(--brown);
}

.button-b:active {
  background-color: var(--dark-brown);
  color: var(--lightest-brown);
}

.searching-titles::after {
  display: flex;
  width: 1200px;
  height: 593px;
  padding: 0px;
  content: "";
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-color: var(--background);
  z-index: 5;
}

.booking-block {
  position: absolute;
  top: 2180px;
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  margin-top: 0px;
  margin-left: 316px;
  margin-right: 316px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  justify-content: flex-start;
  background-color: var(--white);
  padding: 55px;
  z-index: 7;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  }

/*links & buttons*/


.booking-block input {
  font: inherit;
  padding: 5px;
  background-color: var(--light-grey);
}

.field-button {
  width: 23;
  height: 23;
  color: var(--asphalt);
}

.field-button:active path {
  fill: var(--blue);
}

.field-button:hover path {
  fill: var(--black);
}

input:hover {
  background-color: var(--middle-grey);
}

input:focus {
  background-color: var(--white)
}


.find {
  width: 458px;
  color: var(--white);
  background-color: var(--blue);
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.find:hover {
  background-color: var(--middle-blue);
}

.find:active {
  color: var(--lightest-blue);
  background-color: var(--dark-blue);
}

.link-blue {
  background-color: var(--blue);
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 17px;
  padding-right: 16px;

}

.link-blue:hover {
  background-color: var(--middle-blue);
}

.link-blue:active {
  background-color: var(--dark-blue);
  color: var(--lightest-blue);
}


.link-brown {
  background-color: var(--light-brown);
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 16px;
  padding-right: 17px;
}

.link-brown:hover {
  background-color: var(--brown);
}

.link-brown:active {
  background-color: var(--dark-brown);
  color: var(--lightest-brown);
}

.link-hotel {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  padding-left: 29px;
}

.link-hotel:hover {
  color: var(--blue);
}

.link-hotel:active {
  opacity: 0.3;
}

.hotels-sorting-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  opacity: 0.3;
}

.hotels-sorting-item a:hover {
  color: var(--blue);
  opacity: 1;
}


.sorting-links a path {
  fill: var(--silence);
}

.sorting-links a:hover path {
  fill: var(--black);
}

.sorting-links a:active path {
  fill: var(--blue);
}

.field-button {
  color: var(--asphalt);
  background-color: var(--light-grey);
  border: none;
}

.field-button:hover {
  color: var(--black);
}

.field-button:active {
  color: var(--blue);
}

/* Footer*/

.footer {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  background-color: var(--white);
}

.footer .contacts {
  justify-self: flex-start;
}


.contacts .visit {
  display: flex;
  padding-top: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts .tel {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.socials {
  display: flex;
  list-style: none;
  padding-top: 36px;
  padding-bottom: 36px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  text-align: center;
  width: 46px;
  height: 48px;
  margin: 3px;
  margin-bottom: 0px;
}

.social-button:hover {
  background-color: var(--middle-blue);
}

.social-button:active path {
  fill: var(--lightest-blue);

  background-color: var(--dark-blue);
}

.logo-academy {
  display: flex;
  font-style: normal;
  font-weight: normal;

  font-size: 14px;
  line-height: 26px;
  padding-top: 41px;
  padding-bottom: 41px;
  text-transform: uppercase;
}

.logo-academy:hover path {
  fill: var(--blue);
}

.logo-academy:active path {
  fill: var(--black);
  opacity: 0.3;
}

/*Hotels*/


.filters {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-image: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-color: var(--background);
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  }

.left {
  padding-left: 72px;
  border: none;
  padding-top: 26px;
  line-height: 250%;
}

.right {
  padding-left: 120px;
  border: none;
  padding-top: 26px;
  line-height: 250%;
}

.types,
.facilities {
  padding-top: 26px;
  font-size: 16px;
  font-weight: bold;
}

.hotels-sorting-block {
  display: flex;
  width: 1200px;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
  padding-left: 73px;
  margin-top: 0px;
  align-items: center;
}

.sorting {
  margin-left: 46px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.hotels-sorting-item {
  display: flex;
  padding-left: 40px;
}

.sorting-x {
  margin-right: 33px;
}

.sorting-links {
  display: flex;
  padding-left: 503px;
}

.hotel {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-color: var(--white);
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 73px;
  border-bottom: 1px solid var(--border-color);
}

.hotel h2 {
  display: table-cell;

}

.type,
.price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 7px;
}

.type {
  padding-left: 28px;
}

.socials {
  list-style: none;
}

.hotels-sorting-item {
  list-style: none;
}

.sorting-links {
  list-style: none;
}

